@model EduCore.Models.AcademicProgram

@{
    ViewData["Title"] = "Create Academic Program";
}

<h1>Create Academic Program</h1>

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="ProgramName" class="control-label"></label>
                <input asp-for="ProgramName" class="form-control" />
                <span asp-validation-for="ProgramName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DepartmentId" class="control-label"></label>

                <select asp-for="DepartmentId"
                        class="form-select"
                        asp-items="ViewBag.DepartmentId">
                </select>

                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ProgramType" class="control-label"></label>

                <select asp-for="ProgramType"
                        class="form-select"
                        asp-items="Html.GetEnumSelectList<EduCore.Enums.ProgramType>()">
                </select>

                <span asp-validation-for="ProgramType" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DurationYears" class="control-label"></label>
                <input asp-for="DurationYears" class="form-control" />
                <span asp-validation-for="DurationYears" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TotalParts" class="control-label"></label>
                <input asp-for="TotalParts" class="form-control" />
                <span asp-validation-for="TotalParts" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="TotalSemesters" class="control-label"></label>
                <input asp-for="TotalSemesters" class="form-control" />
                <span asp-validation-for="TotalSemesters" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">
                Create
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}