@model EduCore.Models.Department

@{
    ViewData["Title"] = "Edit Department";
}

<h2>Edit Department</h2>

<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="DepartmentId" />

            <div class="mb-3">
                <label asp-for="DepartmentName" class="form-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DepartmentCode" class="form-label"></label>
                <input asp-for="DepartmentCode"
                       class="form-control"
                       placeholder="Example: PHY, CSC, MTH" />
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description"
                          class="form-control"
                          rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FacultyId" class="form-label"></label>

                <select asp-for="FacultyId"
                        class="form-select"
                        asp-items="ViewBag.FacultyId">
                </select>

                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>

            <button type="submit"
                    class="btn btn-primary">
                Save Changes
            </button>

            <a asp-action="Details"
               asp-route-id="@Model.DepartmentId"
               class="btn btn-info text-white">
                Back to Details
            </a>

            <a asp-action="Index"
               class="btn btn-secondary">
                Back to List
            </a>

        </form>

    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}