@model EduCore.ViewModels.PageHeaderViewModel

<div class="page-header">

    <div>

        <h2>

            <i class="bi @Model.Icon"></i>

            @Model.Title

        </h2>

        <p>

            @Model.Subtitle

        </p>

    </div>

</div>