<nav class="top-navbar">

    <div class="navbar-left">

        <button id="sidebarToggle"
                class="toggle-btn">

            <i class="bi bi-list"></i>

        </button>

        <h5 class="mb-0">

            EduCore ERP

        </h5>

    </div>

    <div class="navbar-right">

        <button class="icon-btn">

            <i class="bi bi-search"></i>

        </button>

        <button class="icon-btn position-relative">

            <i class="bi bi-bell-fill"></i>

            <span class="notification-badge">

                3

            </span>

        </button>

        <div class="user-info">

            <div>

                <strong>Nasir Shah</strong>

                <br />

                <small>Administrator</small>

            </div>

            <i class="bi bi-person-circle fs-3 ms-2"></i>

        </div>

    </div>

</nav>